body {
    background-image: url("../images/foodbg.jp2");
}

.jumbotron {
    background-image: url("../images/foodbg-50-darker.png");
    color: white;
}

.food-card {
    /* display: inline-block; */
    height: 90%;
}